# для запуска api без докера
DATABASE_URL=postgresql+asyncpg://wallet:wallet@localhost:5432/wallet
REDIS_URL=redis://localhost:6379/0
KAFKA_SERVERS=localhost:9094
#обязательно, от 32 символов:
# python -c "import secrets; print(secrets.token_urlsafe(48))"
JWT_SECRET=
